<section class="coupon">

    <h1>Coupons</h1>

    <div class="card d-block mt-4 mb-4">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Coupon Code</th>
                        <th>Coupon Amount</th>
                        <th>Minimum Transaction Amount</th>
                        <th>Expires at</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="!!coupons">
                    <tr
                            *ngFor="let coupon of coupons.data | paginate: { itemsPerPage: 10, currentPage: page, totalItems: coupons.total }">
                        <td>{{coupon.coupon}}</td>
                        <td>{{coupon.amount}}</td>
                        <td>{{coupon.minimum_transaction_amount}}</td>
                        <td *ngIf="coupon.type === 2">{{ coupon.toDate }}</td>
                        <td *ngIf="coupon.type === 3">{{coupon.expiresAt}}</td>
                        <td class="buttons">
                            <p *ngIf="coupon.notApplicable && !coupon.is_expired">Coupon code already used</p>
                            <p *ngIf="!coupon.notApplicable && coupon.is_expired">Coupon code is expired</p>
                            <p *ngIf="coupon.notApplicable && coupon.is_expired">Coupon code is expired & already used</p>
                            <button type="button"
                                    class="btn btn-success btn-rounded btn-sm my-0"
                                    (click)="onApply(coupon)"
                                    *ngIf="!coupon.is_expired && !coupon.notApplicable"
                            >
                                Apply
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="pagination">
                <pagination-controls
                        (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)"
                        directionLinks="true"
                        responsive="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
        </div>
    </div>

</section>


