<section class="w-25 m-auto reset-password-mobile">
  <section class="reset-password">
    <div class="w-100">
      <div *ngIf="!!errorMessage" class="form-group">
        <div class="alert alert-danger">
          <i class="fas fa-exclamation-triangle"></i> &nbsp; {{errorMessage}}
        </div>
      </div>
      <div *ngIf="!!successMessage" class="form-group">
        <div class="alert alert-success">
          <i class="fas fa-check"></i> &nbsp; {{successMessage}}
        </div>
      </div>
    </div>
    <div>
      <h1>Reset your password?</h1>


      <h2>Enter your new password </h2>

      <form class="from w-100" role="form" [formGroup]="form" (ngSubmit)="onSubmit()"
            [ngClass]="{'was-validated': (submitted && form.valid), 'needs-validation': (submitted)}">

        <div class="form-group">
          <label>Password <span class="mandatory">*</span></label>
          <div class="input-group"
               [ngClass]="{'is-invalid': (submitted && (f.password.errors || errors['password']))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>

            <input [type]="showPasswordStatus ? 'text' : 'password'" formControlName="password"
                   class="form-control form-control-lg"
                   placeholder="Enter your password"
                   required
                   [ngClass]="{'is-invalid': (submitted && (f.password.errors || errors['password']))}"
            >

            <i class="show-pass fa fa-lg" *ngIf="!!f.password.value"
               [ngClass]="{'fa-eye' :!showPasswordStatus, 'fa-eye-slash': showPasswordStatus}"
               (click)="showPassword()"></i>
          </div>
          <div class="invalid-feedback" *ngIf="form.get('password').hasError('required')">This field is required
          </div>
          <div class="invalid-feedback" *ngIf="form.get('password').hasError('pattern')">Password must contain at least
            one lowercase letter, one uppercase letter, one numeric digit, and one special character, but cannot contain
            whitespace.
          </div>
          <div class="invalid-feedback" *ngFor="let e of errors['password']">{{e.toString()}}</div>
        </div>
        <div class="form-group">
          <label>Confirm Password <span class="mandatory">*</span></label>
          <div class="input-group"
               [ngClass]="{'is-invalid': (submitted && (f.confirmPassword.errors || errors['confirmPassword']))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>

            <input [type]="showPasswordStatus ? 'text' : 'password'" formControlName="confirmPassword"
                   class="form-control form-control-lg"
                   placeholder="Confirm your password"
                   required
                   [ngClass]="{'is-invalid': (submitted && (f.confirmPassword.errors || errors['confirmPassword']))}">

            <i class="show-pass fa fa-lg" *ngIf="!!f.confirmPassword.value"
               [ngClass]="{'fa-eye' :!showPasswordStatus, 'fa-eye-slash': showPasswordStatus}"
               (click)="showPassword()"></i>
          </div>
          <div class="invalid-feedback" *ngIf="form.get('confirmPassword').hasError('required')">This field is
            required
          </div>
          <div class="invalid-feedback" *ngFor="let e of errors['confirmPassword']">{{e.toString()}}</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-lg btn-primary">Reset Password</button>
        </div>
      </form>

    </div>
    <div *ngIf="!!tokenMessage" class="form-group">

    </div>
  </section>

  <div class="form-group text-center mt-5 d-block w-100 sign-up">
    Go back to login? <a routerLink="/auth/login">Login</a>
  </div>
</section>
