@import "src/assets/scss/variables";

.reset-password {

  background-color: white;
  padding: 25px;


  h1, h2, h3 {
    //color: white;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 18px;
    margin: 20px 0;
    line-height: 25px;
  }

}


.sign-up {
  color: white;
  font-weight: bold;

  a {
    color: $primary;
  }
}
 .alert h2{
   color:red;
   a  {
     color:#1890ff;
    text-decoration: underline;
  }

}
.show-pass {
  z-index: 5;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 22px;
  color: #495057;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .reset-password-mobile{
    width: 95% !important;
  }
  .reset-password input {
    height: 40px !important;
    width: 40px !important;
  }
}

.mandatory {
  color: red;
  font-size: 20px;
}
.reset-password-mobile{
  width: 32% !important;
}