  <div class="container">
    <h2>
      <b class="f-35" *ngFor="let data of catname">
        {{data.catname}}
      </b>
      <!-- <a routerLink="/jewelleryinventory/wishlist" class="btn float-right">
      <i class="fa fa-shopping-cart " aria-hidden="true"></i>
      <b class="badge">{{ wishlistCount }}</b>
    </a> -->
    </h2>
    <div class="row ">
      <div class="col-md-4 col-6 col-sm-4 col-lg-3 mt-4" *ngFor="let data of response">
        <div class="img">
          <img routerLink="/jewelleryinventory/product-details/{{data.id}}" src="{{data.pimg}}" alt="jewellery" />
        </div>
        <!-- <div *ngFor="let data of pidslist">
        <div id="{{data}}">222</div>
      </div> -->
        <div>

        </div>

        <div *ngIf="checkwish(data.id) else other">
          <div class="addwishlist mt-1 mb-2">
            <button type="button" class="button-addc" routerLink="/jewelleryinventory/wishlist">
              <span class="addwishlist_btn" style="background-color: #1a2e22db;color: #fff;"><i class="fas fa-cart-plus"
                  style="color: #fff;"></i>
                Go to Wishlist</span>
            </button>
          </div>
        </div>
        <ng-template #other>
          <div class="addwishlist mt-1 mb-2">
            <button (click)="addtowishlist(data.id)" id="addedlist{{data.id}}" type="button" class="button-addc">

              <span class="addwishlist_btn"><i class="fas fa-cart-plus"></i> Add to Wishlist</span>
            </button>
          </div>
        </ng-template>
        <!-- <div *ngFor=" let datas of pidslist">
        <div *ngIf="data.id==datas; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div>
            <button type="button" class="button-addc">
              <span class="addwishlist_btn" style="background-color: #ff4d4f;"><i class="fas fa-cart-plus"></i>
                Already
                in Wishlist</span>
            </button>
          </div>
        </ng-template>

      </div>

      <ng-template  #elseBlock>
       
      </ng-template> -->

        <!-- <ng-template *ngFor=" let datas of pidslist" [ngIf]=" else loading">
        <div class="hero-list">
          <div>
          
          </div>

        </div>
      </ng-template>

      <ng-template #loading>
       
      </ng-template> -->
        <div class="addwishlist mt-1 mb-2">
          <div>

            <!-- <div *ngIf="data.id !=wishdata">
            <button type="button" class="button-addc">
              <span class="addwishlist_btn" style="background-color: #ff4d4f;"><i class="fas fa-cart-plus"></i> Add to
                Wishlist</span>
            </button>
          </div> -->
          </div>
          <!-- <div *ngIf="data.id==pidslist">
          <button (click)="addtowishlist(data.id)" id="addedlist{{data.id}}" type="button" class="button-addc">

            <span class="addwishlist_btn"><i class="fas fa-cart-plus"></i> Add to Wishlist</span>
          </button>
        </div> -->




        </div>
        <!-- <ng-template #second>

      </ng-template> -->
      </div>

    </div>
  </div>
