<section class="event-list w-100 m-auto">

  <section class="my-schemes mt-5 mb-5">
    <h2>Event List</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Event Date</th>
          <th>Event Type</th>
          <th>Event Name</th>
          <th>Event Description</th>
          <th>Action</th>
        </thead>
        <tbody *ngIf="activeEventsList">
          <tr
            *ngFor="let sc of activeEventsList.data| paginate: { itemsPerPage: 10, currentPage: page, totalItems: activeEventsList.total }">
            <td>{{sc.event.event_date }} </td>
            <td *ngIf="sc.event.event_type==='MRG'">Marriage</td>
            <td *ngIf="sc.event.event_type==='OTH'">Others</td>
            <td>{{sc.event.event_name }} </td>
            <td>{{sc.desc }} </td>
            <td (click)="getId(sc.event_id)">
              <a class=" btn
                btn-primary">Gift
                Gold</a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!activeEventsList">
          <tr>
            <td colspan="6">
              <div class="alert alert-warning">No subscriptions found</div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer">
        <div class="pagination">
          <pagination-controls (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"
            maxSize="{{activeEventsList['last_page']}}" directionLinks="true" responsive="true" previousLabel="Previous"
            nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>

</section>
