@import "src/assets/scss/variables";

.forgot-password {

  background-color: white;
  padding: 25px;


  h1, h2, h3 {
    //color: white;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 18px;
    margin: 20px 0;
    line-height: 25px;
  }

}


.sign-up {
  color: white;
  font-weight: bold;

  a {
    color: $primary;
  }
}
.loading {
  position: absolute;
  z-index: 10;
  display: block;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.75;
  width: 100%;

  i {
    font-size: 3rem;
    vertical-align: middle;
    margin: 220px;
  }
}

@media only screen and (max-width: 767px) {
  .forgot-password-mobile{
    width: 95% !important;
  }
}

.mandatory {
  color: red;
  font-size: 20px;
}
