<section class="organization-types" [formGroup]="organizationTypeDetailForm">
    <div class="form-group">
        <label>Org Name <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.org_name.errors))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-user"></i></span>
            </div>

            <input type="text" formControlName="org_name"
                   class="form-control"
                   placeholder="Enter your org name"
                   [ngClass]="{'is-invalid': (submitted && (fd.org_name.errors))}"
            >
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['name']">{{e.toString()}}</div>-->
        </div>
        <div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_name').hasError('required')">This
            field is required
        </div>
    </div>

    <div class="form-group">
        <label>Registered Number <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.org_registration_number.errors))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-registered"></i></span>
            </div>

            <input type="text" formControlName="org_registration_number"
                   class="form-control"
                   placeholder="Enter your registration number"
                   [ngClass]="{'is-invalid': (submitted && (fd.org_registration_number.errors ))}"
            >
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['registration_number']">{{e.toString()}}</div>-->
        </div>

        <div class="invalid-feedback"
             *ngIf="organizationTypeDetailForm.get('org_registration_number').hasError('required')">This
            field is required
        </div>
    </div>
    <div class="form-group">
        <label>Address <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.org_address.errors))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-address-book"></i></span>
            </div>

            <textarea formControlName="org_address"
                      class="form-control"
                      placeholder="Enter your address"
                      [ngClass]="{'is-invalid': (submitted && (fd.org_address.errors))}"
            ></textarea>
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['address']">{{e.toString()}}</div>-->
        </div>

        <div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_address').hasError('required')">This
            field is required
        </div>
    </div>

    <div class="form-group">
        <label>City <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.org_city.errors ))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-city"></i></span>
            </div>

            <input type="text" formControlName="org_city"
                   class="form-control"
                   placeholder="Enter your city"
                   [ngClass]="{'is-invalid': (submitted && (fd.org_city.errors ))}"
            >
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['city']">{{e.toString()}}</div>-->
        </div>
        <div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_city').hasError('required')">This
            field is required
        </div>
    </div>


    <div class="form-group">
        <label>State <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.org_state.errors))}">
            <div class="input-group-prepend">
                    <span style="background: rgb(237, 232, 232);padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-city"></i></span>
            </div>

            <!-- <input type="text" formControlName="org_state"
                   class="form-control"
                   placeholder="Enter your state"
                   [ngClass]="{'is-invalid': (submitted && (fd.org_state.errors))}"
            > -->
            <select formControlName="org_state" class="form-control">
                <option value="1">Andhra Pradesh</option>
                <option value="2">Arunachal Pradesh</option>
                <option value="3">Assam</option>
                <option value="4">Bihar</option>
                <option value="5">Chhattisgarh</option>
                <option value="6">Goa</option>
                <option value="7">Gujarat</option>
                <option value="8">Haryana</option>
                <option value="9">Himachal Pradesh</option>
                <option value="10">Jammu and Kashmir</option>
                <option value="11">Jharkhand</option>
                <option value="12">Karnataka</option>
                <option value="13">Kerala</option>
                <option value="14">Madhya Pradesh</option>
                <option value="15">Maharashtra</option>
                <option value="16">Manipur</option>
                <option value="17">Meghalaya</option>
                <option value="18">Mizoram</option>
                <option value="19">Nagaland</option>
                <option value="20">Odisha</option>
                <option value="21">Punjab</option>
                <option value="22">Rajasthan</option>
                <option value="23">Sikkim</option>
                <option value="24">Tamil Nadu</option>
                <option value="25">Telangana</option>
                <option value="26">Tripura</option>
                <option value="27">Uttarakhand</option>
                <option value="28">Uttar Pradesh</option>
                <option value="29">West Bengal</option>
                <option value="30">Andaman and Nicobar Islands</option>
                <option value="31">Chandigarh</option>
                <option value="32">Dadra and Nagar Haveli</option>
                <option value="32">Daman and Diu</option>
                <option value="32">Delhi</option>
                <option value="32">Lakshadweep</option>
                <option value="32">Puducherry</option>
            </select>
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['state']">{{e.toString()}}</div>-->
        </div>

        <div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_state').hasError('required')">This
            field is required
        </div>
    </div>

    <div class="form-group">
        <label>Zip <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.org_zip_code.errors ))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-user"></i></span>
            </div>

            <input type="text" formControlName="org_zip_code"
                   class="form-control"
                   placeholder="Enter your zip"
                   [ngClass]="{'is-invalid': (submitted && (fd.org_zip_code.errors ))}"
            >
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['zip_code']">{{e.toString()}}</div>-->
        </div>

        <div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_zip_code').hasError('required')">This
            field is required
        </div>
    </div>


    <!--<div class="form-group">-->
        <!--<label>Org Email</label>-->
        <!--<div class="input-group"-->
             <!--[ngClass]="{'is-invalid': (submitted && (fd.org_email.errors ))}">-->
            <!--<div class="input-group-prepend">-->
                    <!--<span style="background: whitesmoke;padding: 0 15px;"-->
                          <!--class="input-group-text"><i class="fas fa-envelope"></i></span>-->
            <!--</div>-->

            <!--<input type="text" formControlName="org_email"-->
                   <!--class="form-control"-->
                   <!--placeholder="Enter your email"-->
                   <!--[ngClass]="{'is-invalid': (submitted && (fd.org_email.errors ))}"-->
            <!--&gt;-->
            <!--&lt;!&ndash;<div class="invalid-feedback"&ndash;&gt;-->
            <!--&lt;!&ndash;*ngFor="let e of errors['email']">{{e.toString()}}</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_email').hasError('required')">This-->
            <!--field is required-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="form-group">-->
        <!--<label>Org Mobile</label>-->
        <!--<div class="input-group"-->
             <!--[ngClass]="{'is-invalid': (submitted && (fd.org_mobile.errors))}">-->
            <!--<div class="input-group-prepend">-->
                    <!--<span style="background: whitesmoke;padding: 0 15px;"-->
                          <!--class="input-group-text"><i class="fas fa-mobile-alt"></i></span>-->
            <!--</div>-->

            <!--<input type="text" formControlName="org_mobile"-->
                   <!--class="form-control"-->
                   <!--placeholder="Enter your mobile"-->
                   <!--[ngClass]="{'is-invalid': (submitted && (fd.org_mobile.errors ))}"-->
            <!--&gt;-->
            <!--&lt;!&ndash;<div class="invalid-feedback"&ndash;&gt;-->
            <!--&lt;!&ndash;*ngFor="let e of errors['mobile']">{{e.toString()}}</div>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_mobile').hasError('required')">This-->
            <!--field is required-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label>Description <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.org_description.errors))}">
            <div class="input-group-prepend">
                    <span style="background: whitesmoke;padding: 0 15px;"
                          class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
            </div>

            <textarea formControlName="org_description"
                      class="form-control"
                      placeholder="Enter your description"
                      [ngClass]="{'is-invalid': (submitted && (fd.org_description.errors ))}"
            ></textarea>
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['mobile']">{{e.toString()}}</div>-->
        </div>

        <div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('org_description').hasError('required')">This
            field is required
        </div>
    </div>

    <div class="form-group">
        <label>Photo <span class="mandatory">*</span></label>
        <div class="input-group"
             [ngClass]="{'is-invalid': (submitted && (fd.photo.errors))}">
            <!--<div class="input-group-prepend">-->
                    <!--<span style="background: whitesmoke;padding: 0 15px;"-->
                          <!--class="input-group-text"><i class="fas fa-mobile-alt"></i></span>-->
            <!--</div>-->

            <input type="file" formControlName="photo"
                   class="form-control custom-file-input"
                   (change)="onUploadPhoto($event)"
                   [ngClass]="{'is-invalid': (submitted && (fd.photo.errors ))}"
                   id="photo"
                   accept="image/*, application/pdf"
            >
            <!--<div class="invalid-feedback"-->
            <!--*ngFor="let e of errors['mobile']">{{e.toString()}}</div>-->
            <label class="custom-file-label" #labelImport for="photo">{{photoName}}</label>
        </div>

        <div class="invalid-feedback" *ngIf="organizationTypeDetailForm.get('photo').hasError('required')">This
            field is required
        </div>
    </div>


</section>
